<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" 
	href="index.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
</head>

<body>

<div id="app">
	
	<h3  style="color:green">VueJS</h3>
	<table class="table table-dark table-striped" style="width: 50%">
		<thead>
		<tr>
			<th>#ID</th>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th>Deletar</th>
			<th>Editar</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="funcionario in funcionarios" :key="funcionario.id">
			<td>{{ funcionario.id}}</td> 
			<td>{{ funcionario.nome }}</td> 
			<td>{{ funcionario.setor.nome }}</td> 
			<td>{{ funcionario.salario }}</td> 
			<td>{{ funcionario.email }}</td> 
			<td>{{ funcionario.idade }}</td>
			<td> <button type="button" class="btn btn-danger" @click="deleteFuncionario(funcionario.id)">Delete</button></td>
			<td> <button type="button" class="btn btn-warning" @click="findFuncionario(funcionario.id)">Update</button></td>
		</tr>
		</tbody>
	</table>
		
	<a type="button" class="btn btn-info" href="pages/novo-funcionario.html">Cadastrar Funcionário</a>
	<a type="button" class="btn btn-success" href="/funcionarios/lista-setores.html">Lista de Setores</a>
		
	<div class="login-box">
	  	<h2>Editar Funcionário</h2>
	  		<form>
	  		
	    	<div class="user-box">
	      		<input type="text" name="" required="" v-model="nome">
	     		 <label>Nome</label>
	    	</div>
	    	<div class="user-box">
	      		<input type="number" name="" required="" v-model="idade">
	     		 <label>Idade</label>
	    	</div>
	    	<div class="user-box">
	      		<input type="number" name="" required=""  v-model="setor">
	      		<label>ID Setor</label>
	    	</div>
	    	<div class="user-box">
	      		<input type="number" name="" min="1" step="any" required=""  v-model="salario">
	     		 <label>Salário R$</label>
	    	</div>
	    	<div class="user-box">
	      		<input type="text" name="" required="" v-model="email" >
	      		<label>Email</label>
	    	</div>
	    	
		    <button type="submit" class="btn btn-dark" @click="updateFuncionario()" 
		    style="padding: 15px 30px 15px 30px;">
		     <span></span>
		      <span></span>
		      <span></span>
		      <span></span>
		    Salvar    
		    </button>
		    <a href="/funcionarios/index.html" style="margin: 0px 0px -35px 40px;">
		      <span></span>
		      <span></span>
		      <span></span>
		      <span></span>
		      Voltar
		    </a>
		    
	  	</form>
	</div>
</div>
	  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
	
<script>
new Vue({
 el: "#app",
 data() {
 	return {
   		 funcionarios: [],
   		 setores: [],
   		 id_funcionario: int = 0,
    }
  },
  
 methods: {

   updateFuncionario: function(id_funcionario) {
	   var funcionario = {
			nome: this.nome,
			setor: this.setores[(this.setor - 1)],
			salario: this.salario,
			email: this.email,
			idade: this.idade,
		};
	   
   		axios.put("http://localhost:8080/funcionarios/rest/funcionarios/editar/"+this.id_funcionario, funcionario)
            .then(response => {
             	this.listFuncionarios()
             })
   },

   deleteFuncionario: function(id) {
   		axios.delete("http://localhost:8080/funcionarios/rest/funcionarios/delete/"+id)
        	.then(response => {
             	this.listFuncionarios()
             })
   },
     
   listFuncionarios: function() {
   		axios.get("http://localhost:8080/funcionarios/rest/funcionarios/listar")
        	.then(response => {
            	this.funcionarios = response.data
            })
   },
   
   findFuncionario: function(id){
	   axios.get("http://localhost:8080/funcionarios/rest/funcionarios/listar/"+id)
	   	.then(response => {
	   		this.id_funcionario = response.data.id
	   	})
   },
        
   listSetores: function() {
   		axios.get("http://localhost:8080/funcionarios/rest/setores/listar")
       		.then(response => {
        		this.setores = response.data
        	})
    },
  
},
    mounted: function() {
       this.listFuncionarios();
       this.listSetores();
    }
})
</script>

</body>
</html>