<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Setores - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" type="text/css" 
	href="lista-setor.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	
</head>

<body>

<div id="app">
			
	<h3 style="color:green">VueJS</h3>
	<table class="table table-dark table-striped" style="width: 50%">
		<thead>
		<tr>
			<th>#ID</th>
			<th>Nome</th>
			<th>Deletar</th>
			<th>Editar</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="setor in setores" :key="setor.id">
			<td>{{ setor.id}}</td> 
			<td>{{ setor.nome }}</td> 
			<td> <button type="button" class="btn btn-danger" @click="deleteSetor(setor.id)">Delete</button></td>
			<td> <button type="button" class="btn btn-warning" @click="findSetor(setor.id)">Update</button></td>
		</tr>
		</tbody>
	</table>
		
	 <a type="button" class="btn btn-info" href="pages/novo-setor.html">Cadastrar Setor</a>
	 <a type="button" class="btn btn-success" href="/funcionarios/index.html">Lista de Funcionários</a>
		
	<div class="login-box">
  		<h2>Editar Setor</h2>
  		<form>
  		
    	<div class="user-box">
      		<input type="text" name="" required="" v-model="nome">
     		<label>Nome Setor</label>
    	</div>
    	
	    <button type="submit" class="btn btn-dark" @click="updateSetor()" style="padding: 15px 30px 15px 30px;">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	    Salvar    
	    </button>
	     <a href="/funcionarios/index.html" style="margin: 0px 0px -35px 40px;">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      Voltar
	    </a>
	    
  		</form>
  	</div>
</div>
	  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
	
<script>
new Vue({
 el: "#app",
 data() {
 	return {
   		 setores: [],
   		 id_setor: int = 0
    }
  },
  
 methods: {

   updateSetor: function(id_setor) {
	   var setor = {
			nome: this.nome,
			setor: this.setores[(this.setor - 1)],
			salario: this.salario,
			email: this.email,
			idade: this.idade,
		};
	   
   		axios.put("http://localhost:8080/funcionarios/rest/setores/editar/"+this.id_setor, setor)
            .then(response => {
             	this.listSetores()
             })
   },
   
   deleteSetor: function(id) {
  		axios.delete("http://localhost:8080/funcionarios/rest/setores/delete/"+id)
       	.then(response => {
            	this.listSetores()
            })
  },
        
   listSetores: function() {
   		axios.get("http://localhost:8080/funcionarios/rest/setores/listar")
       		.then(response => {
        		this.setores = response.data
        	})
    },
  
  	findSetor: function(id){
	   axios.get("http://localhost:8080/funcionarios/rest/setores/listar/"+id)
	   	.then(response => {
	   		this.id_setor = response.data.id
	   	})
   	},
        
},
   
    mounted: function() {
       this.listSetores();
    }
})
</script>

</body>
</html>